body {
  background: #EEE;
  margin: 0;
  padding: 50;
}

p {
  font-family: 'Arial Rounded', sans-serif;
  color: grey;
  margin: 50;
  padding: 50;
}

.title {
  font-family: Verdana;
}

li  {
  font-family: 'Arial Rounded', sans-serif;
  color: grey;
}
